html {
	box-sizing: border-box;
}
	*, *::before, *::after {
	box-sizing: inherit;
}
body {
	margin:0;
	padding:0;
	font-size: 14px;
	line-height: 26px;
	color:#333333;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}
img {
	max-width: 100%;
	height: auto;
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

	/*centrovka*/

.main-header,
.container,
.main-footer {
	width: 1200px;
    margin: 0 auto;
}
.main-header{
	position: relative;
}
.main-navigation {
	color: #000000;
	background-color: #ffffff;
}
.navigation-items,
.advantages,
.advantages-item-section,
.features-list,
.social-networks {
	list-style: none;
	margin: 0;
	padding: 0;
}


.navigation-items {
	display: flex;
    justify-content: space-between;
    width: 1056px;
    min-height: 56px;
    margin: 0 auto;
    align-items: center;
}
.navigation-items-item {
	width: 20%;
}
.navigation-items-item:nth-child(2) a {
	padding-left: 30px;
}
.navigation-items-item:nth-child(3) {
	margin-left: auto;
	text-align: right;
}
.navigation-items-item:nth-child(3) a {
	padding-right: 32px;
}
.navigation-items-item:last-child {
	text-align: right;
}
.navigation-items-item:last-child a {

}
.navigation-items a {
	color:#000000;
	font-weight: 700;
}
.navigation-items a:hover,
.navigation-items a:focus {
	color: #81b3d2;
}
.navigation-items a:active {
	opacity: 0.3;
	color: #000000;
}
.navigation-items-current a {
	color: #766357;
}
.logo {
	position: absolute;
	top:0;
	left:50%;
	margin-left: -70px;
	z-index: 1;
}
.container {
	background-color: #ffffff;
}
.preview{
	background-color: #ddd0d4;
	background:url('../img/background photo.jpg') no-repeat;
	background-position: 50% 22%;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 80px;
	position: relative;
	margin-bottom: 52px;
}
.preview::after {
	content: "";
	position: absolute;
	background-image: url(../img/polygon.svg);
	width: 1201px;
	height: 59px;
	left: 0;
	bottom: 0
}
.container-description {
	display: flex;
	flex-direction: column;
}
.description-content {
	display: flex;
}
.advantages {
	display: flex;
	flex-wrap: wrap;
}
.advantages-item-section {
	display: flex;
	flex-wrap: wrap;
	height: 256px;
}
.main-heading {
	font-size: 21px;
	line-height: 26px;
	color:#000000;
	font-weight: bold;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 45%;
	margin-bottom: 29px;
}
.main-heading-subheading{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
}
.advantages-item {
	display: flex;
}
.advantages .advantages-item:first-child {
	order:-2;
	margin-bottom: 56px;
}
.advantages-item-features {
	order:-1;
	margin-bottom: 78px;
}
.advantages-item .advantages-item-description  {
	background-color: #81b3d2;
	color: #ffffff;
	width: 400px;
	text-align: center;
}
.item-number::before
.advantages-item-photo {
	width: 800px;
}

.advantages-item .advantages-item-description h3{
	color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	margin: 45px auto 25px auto;
	padding: 0;
	width: 50%;
}
.item-heading-bottom,
.item-features-heading {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
	width: 40%;
	text-align: center;
	margin: 0 auto;
}
.item-subheading {
	line-height: 21px;
	display: block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 77%;
}
.item-number {
	display: block;
	position: relative;
	margin-bottom: 19px;
}
.item-number::before,
.item-number::after{
	content: "";
	background: #ffffff;
	position: absolute;
	width: 9px;
	height: 2px;
	top: 50%;
}
.item-number::before {
	left: 44%;
}
.item-number::after {
	right: 44%;
}
.advantages-item:nth-child(n+3) .item-number::before, 
.advantages-item:nth-child(n+3) .item-number::after {
	background: #000000;
}

.advantages-item-wrapper {
	margin-top: 47px;
	width: 100%;
	padding-bottom: 60px;
}
.advantages-item:nth-child(n+3) .item-heading-bottom,
.advantages-item:nth-child(n+3) .item-heading-bottom  {
	margin-bottom: 22px;
}
.advantages-item:nth-child(n+3) .item-subheading {
	width: 66%;
}
.advantages-item:nth-child(5) .item-subheading {
	width: 64%;
}
.advantages-item-photo {
    height: 100%;
}
.advantages-item-image {
	background-color: #ddd0d4;
}
.advantages-item:nth-child(n+3){
	background: #eeeeee;
	width: 400px;
	text-align: center;
}
.advantages-item:last-child {
	background-color: #ffffff;
	width: 100%;
}
.features-list {
	display: flex;
	align-items: center;
}
.item-features-image,
.item-features-heading,
.item-features-subheading{
	display: block;
	text-align: center;
	margin: 0 auto;
}
.item-features-heading {
	margin-bottom: 23px;
}
.item-features-subheading{
	width: 75%;
	line-height: 24px;
}

.item-features {
	width: 33%;
	display: flex;
	flex-direction: column;
	margin: 2px 4px 0px 4px;
}
.item-features-image{
	margin-bottom: 29px;
}

.item-features:nth-child(2) .item-features-image{
	margin-bottom: 30px;
}
.item-features:last-child .item-features-image{
	margin-bottom: 27px;
}

.reservation {
	text-align: center;
	padding-top: 50px;
}
.hotel-booking .form {
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	max-width: 568px;
	margin: 0 auto;
	display: none;
}
.reservation-title{
	font-size: 30px;
	line-height: 36px;
	color: #333333;
	font-family: inherit;
	font-weight: 700;
}
.reservation-subtitle{
	font-family: "PT Sans";
	font-weight: 400;
	line-height: 24px;
	color: #333333;
	margin-top: 22px;
	margin-bottom: 46px;
}
.search-button {
	background-color: #766357;
	border: none;
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: inherit;
	padding: 30px 140px 32px 139px;
	text-align: center;
}
.search-button:hover,
.search-button:focus{
	background-color: #604e43;
}
.search-button:active {
	background-color: #503e33;
}
.hotel-booking .form label {
	font-weight: bold;
}
.hotel-booking .form input {
	height: 38px;
	background-color: #f2f2f2;
	border: none;
}
.check-in-date,
.check-out-date {
	width: 346px;
}
.adults-line,
.children-line {
	width: 114px;
}

.hotel-booking .form input:hover{
	background-color:#ebebeb;
}
.hotel-booking .form input:focus {
	outline: 2px solid #e5e5e5;
	background-color: transparent;
}
.hotel-booking .form input {
	font-weight: bold;
	text-transform: uppercase;
}
.value-decrease,
.value-increase {
	color:#a9a9a9;
}
.form-btn {
	font: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color:#ffffff;
	border: none;
	background-color: #81b3d2;
	width: 458px;
	text-transform: uppercase;
}
.form-btn:hover,
.form-btn:focus{
	background-color: #669ec0;
}
.form-btn:active {
	background-color: #5496bd;
	opacity: 0.3;
	color: #ffffff;

}
.hotel-booking-location {
	margin: 0;
	padding: 0;
	/* margin-top: 0px; */
}
.map {
	position: relative;
	z-index: 1;
}
.main-footer {
	background: rgba(255,255,255,0.9);
	position: relative;
	z-index: 4;
	margin-top: -127px;
	padding: 35px 0 38px 0;
}
.footer-wrapper {
	display: flex;
	justify-content: space-around;
}

.hashtag {
	font-size:21px;
	line-height: 26px;
	color:#000000;
	margin: 7px 0 0 25px;
	display: block;
	width: 240px;
	text-align: right;
	padding: 0 45px 0 0px;
}
.footer-socials {
width: 400px;
}
.social-networks {
	display: flex;
	justify-content: space-between;
	width: 150px;
	flex-wrap: wrap;
	margin: 0 auto;
}
.social-networks li {
	width: 48px;
	height: 48px;
	background-color: #81b3d2;
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-networks li:hover,
.social-networks li:focus {
	/*background-color: :#669ec0;*/
	background-color: :red;
}
.social-networks li:active {

}
.social-networks-twitter {
	background: url(../img/twitter.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.social-networks-facebook {
	background: url(../img/fb-icon.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.social-networks-youtube {
	background: url(../img/youtube.svg);
	background-repeat: no-repeat;
	background-position: center center;
}
.footer-copyright a {
	color:#000000;

}
.footer-copyright-link {
	display: flex;
	width: 241px;
	margin: 0px 10px 0 0px;
}
.footer-copyright-link  span{
margin: 9px 0 0 0;
}

.html-academy-logo {
    margin: 2px 0 0 9px;
}
.html-academy-logo:hover {}

/*--------Sedona Hotels Page------*/

.search-filters {
	background: url(../img/filter-background.jpg);
	background-repeat: no-repeat;
}
.filters-form {
	display: flex;
	justify-content: space-around;
	padding-top: 26px;
	padding-bottom: 9px;
}
.filters-form fieldset {
	border: none;
}
.search-filters legend {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	font-weight: bold;
	margin: 0 0px 0 0px;
}
.infrastructure-filter {
	width: 241px;
	margin: 0px 0 0px 62px;
}
.infrastructure-types li {	
	display: flex;
	align-items: center;
	margin: 20px 0 0 0;
}
.accomodation-filter {
	width: 288px;
	margin-right: auto;
	margin-left: 12px;
}
.accommodation-types {	 
	display: flex;	 
	align-items: center;

}
.accommodation-types li {
	display: flex;
	align-items: center;
	margin: 20px 0 0 4px;
	margin-right: auto;
}
.price-filter {
	width: 328px;
	margin: 0 71px 0 0;
}
.filters-form fieldset ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}
.search-filters fieldset label {
	color:#ffffff;
	font-weight: 400;
	margin: 0 0 0px 16px;
}
.search-filters input[type="checkbox"] {
	width: 23px;
	height: 23px;
	outline:2px solid #ffffff;
}
.search-filters input[type="checkbox"]:hover,
.search-filters input[type="checkbox"]:focus {}
.search-filters input {
	color: #ffffff;
	font-family: inherit;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
}
.price-range{
	color: #ffffff;
	font-family: inherit;
}
.search-filters input[type="text"] {
	background: transparent;
}
.search-btn {
	color: #ffffff;
	font-family: inherit;
	font-weight: 400;
	line-height: 21px;
	text-transform: uppercase;
	background: transparent;
	width: 133px;
	border: 2px solid #ffffff;
}
.search-btn:hover {
	background: #ffffff;
	color:#000000;
}
.search-results-item {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}
.sort {
	display: flex;
	margin-bottom: 32px;
}
.sort-wrapper {
	display: flex;
	align-items: center;
	width: 20%;
}
.sort-found {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}
.sort-types {
	list-style: none;
	display: flex;
	width: 80%;
	justify-content: space-between;
}
.sort h3 {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
.sort-type a{
	opacity: 0.3;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
 	color: #000000;
 	border-bottom: 1px dotted #81b3d2;
}
.current-filter a {
	color: #81b3d2;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	opacity:1;
}
.search-results-item {
	display: flex;
	justify-content: space-between;
}
.item-description {
	display: flex;
	width: 528px;
	justify-content: space-between;
	margin: 30px 0 31px 72px;
	align-items: flex-start;
}
.item-image {}
.item-info {
    margin: 0;
    padding: 0;
    margin-right: auto;
    margin-left: 25px;
    width: 60%;
}

.item-info b {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	display: block;
	margin: -6px 0px 6px 7px;
}
.item-info span {
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	display: inline-block;
	text-align: left;
	margin: 0px 0 11px 5px;
}
.search-results-item:first-child .price {
	margin: 0;
}
.item-info-link {
	background-color: #81b3d2;
	color: #ffffff;
	font-weight: 700;
	padding: 4px 17px;
}
.item-info-link:hover,
.item-info-link:focus {
	background-color: #669ec0;
}
.item-info-link:active {
	background-color: #5496bd;
}
.booking-button {
	border:none;
	background-color: #766357;
	width: 142px;
	color: #ffffff;
	font:inherit;
	font-weight: 700;
	text-transform: uppercase;
}
.booking-button:hover, 
.booking-button:focus {
	background-color: #604e43;
} 
.booking-button:active {
	background-color: #503e33;
}
.item-feedback .mark {
	background-color: #f2f2f2;
}
.item-feedback {
	margin: 0;
	padding: 0;
	width: 241px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.inner-footer {
	background-color: inherit;
	
}

.four-stars:before {
	content: "";
	background-image: url(../img/star.svg);
	background-repeat: repeat-x;
	display: block;
	width: 74px;
	height: 18px;
}
.three-stars:before {
	content: "";
	background-image: url(../img/star.svg);
	background-repeat: repeat-x;
	display: block;
	width: 56px;
	height: 18px;
}
.two-stars:before {
	content: "";
	background-image: url(../img/star.svg);
	background-repeat: repeat-x;
	display: block;
	width: 37px;
	height: 18px;
}
.inner-footer {
	background-color: #ffffff;
	margin-top: 0px;
}
