html {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 26px;
	color: #333333;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header,
.container,
.main-footer {
	width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
	position: relative;
}

.main-navigation {
	color: #000000;
	background-color: #ffffff;
}

.navigation-items,
.advantages,
.advantages-item-section,
.features-list,
.social-networks {
	list-style: none;
	margin: 0;
	padding: 0;
}

.navigation-items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 14px 73px 16px 73px;
}

.navigation-items-item {
	width: 20%;
}

.navigation-items-item:nth-child(4n-2) a {
	padding-left: 30px;
}

.navigation-items-item:nth-child(4n-1) {
	margin-left: 20%;
	text-align: right;
}

.navigation-items-item:nth-child(4n-1) a {
	padding-right: 31px;
	word-spacing: 1px;
}

.navigation-items-item:nth-child(4n) {
	text-align: right;
}

.navigation-items-item:nth-child(4n) a {}

.navigation-items a {
	color: #000000;
	font-weight: 700;
}

.navigation-items a:hover,
.navigation-items a:focus {
	color: #81b3d2;
}

.navigation-items a:active {
	opacity: 0.3;
	color: #000000;
}

.navigation-items-current a {
	color: #766357;
}

.logo {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 1;
}

.container {
	background-color: #ffffff;
}

.preview {
	background-color: #ddd0d4;
	background: url('../img/background photo.jpg') no-repeat;
	background-position: 50% 22%;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 73px;
	position: relative;
	margin-bottom: 58px;
}

.preview::after {
	content: "";
	position: absolute;
	background-image: url(../img/polygon.svg);
	width: 1200px;
	height: 57px;
	left: 0;
	bottom: 0;
}

.container-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.description-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.advantages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.advantages-item-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.main-heading {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 45%;
	margin-bottom: 30px;
}

.main-heading-subheading {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 0.1px;
}

.advantages-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.advantages .advantages-item:first-child {
	-webkit-box-ordinal-group: -1;
	-ms-flex-order: -2;
	order: -2;
	margin-bottom: 55px;
}

.advantages-item-features {
	-webkit-box-ordinal-group: 0;
	-ms-flex-order: -1;
	order: -1;
	margin-bottom: 78px;
}

.advantages-item .advantages-item-description {
	background-color: #81b3d2;
	color: #ffffff;
	width: 400px;
	text-align: center;
	padding-bottom: 0px;
}

.item-number::before .advantages-item-photo {
	width: 800px;
}

.advantages-item-heading {
	color: #ffffff;
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	margin: 47px auto 24px;
	padding: 0;
	width: 50%;
}

.item-heading-bottom,
.item-features-heading {
	font-size: 21px;
	line-height: 21px;
	font-weight: bold;
	color: #000000;
	width: 40%;
	text-align: center;
	margin: 0 auto;
}

.item-subheading {
	line-height: 21px;
	display: block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	width: 77%;
	padding-bottom: 55px;
}

.item-number {
	display: block;
	margin-bottom: 17px;
}

.item-number::before,
.item-number::after {
	content: "";
	background: #ffffff;
	display: inline-block;
	width: 9px;
	height: 2px;
	vertical-align: middle;
	margin: 0 4px 6px 6px;
}

.advantages-item:nth-child(n+3) .item-number::before,
.advantages-item:nth-child(n+3) .item-number::after {
	background: #000000;
}

.advantages-item-wrapper {
	padding-top: 48px;
	width: 100%;
	padding-bottom: 59px;
}

.advantages-item:nth-child(n+3) .item-heading-bottom,
.advantages-item:nth-child(n+3) .item-heading-bottom {
	margin-bottom: 23px;
}

.advantages-item:nth-child(n+3) .item-subheading {
	padding: 0 14px 0 14px;
}

.advantages-item:nth-child(5) .item-subheading {
	width: 70%;
}

.advantages-item-photo {
	height: 100%;
}

.advantages-item-image {
	background-color: #ddd0d4;
	height: 100%;
	display: block;
}

.advantages-item:nth-child(n+3) {
	background: #eeeeee;
	width: 400px;
	text-align: center;
}

.advantages-item:last-child {
	background-color: #ffffff;
	width: 100%;
}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.item-features-image,
.item-features-heading,
.item-features-subheading {
	display: block;
	text-align: center;
	margin: 0 auto;
}

.item-features-heading {
	margin-bottom: 25px;
}

.item-features-subheading {
	width: 75%;
	line-height: 24px;
}

.item-features:first-child .item-features-subheading {
	line-height: 22.5px;
	padding: 0px 1px 2px 0px;
}

.item-features:nth-child(2) .item-features-subheading {
	line-height: 23px;
	padding: 0px 1px 1px 0px;
}

.item-features:last-child .item-features-subheading {
	line-height: 21.5px;
	padding: 0px 0px 1px 1px;
}

.item-features {
	width: 33%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 4px 4px 0px;
}

.item-features-image {
	margin-bottom: 29px;
}

.item-features:nth-child(2) .item-features-image {
	margin-bottom: 30px;
}

.item-features:last-child .item-features-image {
	margin-bottom: 27px;
}

.reservation {
	text-align: center;
	padding-top: 50px;
	position: relative;
}

.reservation-title {
	font-size: 30px;
	line-height: 36px;
	color: #333333;
	font-family: inherit;
	font-weight: 700;
}

.reservation-subtitle {
	font-family: "PT Sans";
	font-weight: 400;
	line-height: 24px;
	color: #333333;
	margin: 0;
	margin-top: 24px;
	margin-bottom: 46px;
}

.search-button {
	background-color: #766357;
	border: none;
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	text-transform: inherit;
	min-width: 568px;
	min-height: 87px;
	text-align: center;
	position: relative;
	cursor: pointer;
	z-index: 3;
}

.search-button:hover,
.search-button:focus {
	background-color: #604e43;
}

.search-button:active {
	background-color: #503e33;
}

.form {
	position: absolute;
	z-index: 2;
	bottom: -395px;
	left: 316px;
	background-color: #ffffff;
	margin: 0 auto;
	width: 568px;
	height: 395px;
	-webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
	padding: 0 54px;
	display: none;
	text-align: left;
}

@-webkit-keyframes bounce {
	0% {
		-webkit-transform: translateY(-85px);
		transform: translateY(-85px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes bounce {
	0% {
		-webkit-transform: translateY(-85px);
		transform: translateY(-85px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

.form-show {
	display: block;
	-webkit-animation: bounce 0.6s;
	animation: bounce 0.6s;
}

.form label {
	font-weight: bold;
}

.form input {
	height: 38px;
	background-color: #f2f2f2;
	border: none;
}

.check-in,
.check-out,
.adults,
.children {
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.check-in {
	margin: 56px 0px 29px 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}

.check-in-label,
.check-out-label {
	padding: 0px 0px 0px 3px;
}

.check-in input,
.check-out input {
	width: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 30px 0 12px;
}

.check-in-label,
.check-out-label {
	width: 155px;
}

.adults-label {
	width: 152px;
}

.check-in-date,
.check-out-date {
	position: relative;
}

.calendar-btn {
	background: url(../img/calendar.png) no-repeat;
	position: absolute;
	right: 9px;
	top: 7px;
	width: 21px;
	height: 22px;
	border: none;
}

.calendar-btn:hover,
.calendar-btn:hover {
	background: url(../img/calendar-hover.png) no-repeat;
}

.calendar-btn:active {
	background: url(../img/calendar-active.png) no-repeat;
}

.check-out {
	margin: 0 0 31px 0;
	position: relative;
}

.form-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	margin-bottom: 53px;
}

.form-item button {
	width: 38px;
	height: 38px;
	background-color: #f2f2f2;
	border: none;
	position: relative;
}

.form-item .value-decrease::before {
	content: "";
	position: absolute;
	width: 12px;
	height: 3px;
	background-color: #a9a9a9;
	top: 50%;
	left: 50%;
	margin: -2px 0 0px -7px;
}

.adults .value-decrease {
	left: 42px;
}

.form-item .value-increase::before,
.form-item .value-increase::after {
	content: "";
	position: absolute;
	width: 12px;
	height: 3px;
	background-color: #a9a9a9;
}

.form-item .value-increase::before {
	top: 50%;
	left: 50%;
	margin-left: -6px;
	margin-top: -3px;
}

.form-item .value-increase::after {
	top: 50%;
	left: 50%;
	margin-left: -6px;
	margin-top: -3px;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.button-wrapper-adults .value-increase,
.button-wrapper-children .value-increase {
	top: 0;
	right: -37px;
	position: absolute;
}

.adults-line,
.children-line {
	width: 38px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0px 0 3px 0;
}

.adults-line {
	text-align: center;
}

.children-line {
	text-align: center;
}

.button-wrapper-adults {
	position: relative;
}

.button-wrapper-adults .value-decrease,
.button-wrapper-children .value-decrease {
	position: absolute;
	top: 0;
	left: -38px;
}

.button-wrapper-children {
	position: relative;
	margin-right: 38px;
}

.children label {
	margin-right: 65px;
}

.form input:hover {
	background-color: #ebebeb;
}

.form input:focus {
	outline: 2px solid #e5e5e5;
	background-color: transparent;
}

.form input {
	font-weight: bold;
	text-transform: uppercase;
}

.value-decrease,
.value-increase {
	color: #a9a9a9;
}

.value-decrease:hover::before,
.value-decrease:focus::before,
.value-increase:hover::after,
.value-increase:focus::after,
.value-increase:hover::before,
.value-increase:focus::before {
	background-color: #000000;
}

.value-decrease:active::before,
.value-increase:active::after,
.value-increase:active::before {
	background-color: #81b3d2;
}

.form-btn {
	font: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	border: none;
	background-color: #81b3d2;
	width: 100%;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	padding: 15px 0px 17px;
	cursor: pointer;
}

.form-btn:hover,
.form-btn:focus {
	background-color: #669ec0;
}

.form-btn:active {
	background-color: #5496bd;
}

.form-btn:active .btn-text {
	opacity: 0.3;
}

.hotel-booking-location {
	margin: 0;
	padding: 0;
	background: #cbdda9;
	width: 1200px;
	height: 593px;
}

.map {
	position: relative;
	z-index: 1;
}

.main-footer {
	background: rgba(255, 255, 255, 0.9);
	position: relative;
	z-index: 4;
	margin-top: -120px;
	padding: 35px 0 38px 0;
}

.footer-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0 auto;
	padding: 0 73px;
}

.hashtag {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	margin: 7px 0 0 0;
	display: block;
	width: 33%;
	padding: 3px 0 0 60px;
	text-align: left;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.footer-socials {
	width: 33%;
}

.social-networks {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 44%;
	margin: 0 auto;
}

.social-networks a {
	width: 48px;
	height: 48px;
	background-color: #81b3d2;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.social-networks-item:hover a,
.social-networks-item:focus a {
	background-color: #669ec0;
}

.social-networks-item:active a {
	background-color: #5496bd;
}

.social-networks-item:active path {
	opacity: 0.3;
}

.footer-copyright a {
	color: #000000;
}

.footer-copyright-link {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 33%;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding: 0 27px 0px 0px;
}

.footer-copyright-link span {
	margin: 0px 9px 0 0px;
	color: #000000;
}

.footer-copyright-link:hover,
.footer-copyright-link:focus {
	fill: #81b3d2;
}

.footer-copyright-link:active {
	fill: #bdbbbc;
}

.footer-copyright-link svg * {
	fill: inherit;
}


/*--------Sedona Hotels Page------*/

.search-filters {
	background: #5d4947;
	background: url(../img/filter-background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 16%;
	padding: 0 73px 19px;
}

.filters-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding-top: 26px;
	padding-bottom: 9px;
}

.filters-form fieldset {
	border: none;
}

.search-filters legend {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	font-weight: bold;
	margin: 0;
}

.infrastructure-filter {
	width: 241px;
	margin: 0;
	padding: 0;
	padding: 5px 0 0 0px;
}

.infrastructure-filter legend {
	padding: 1px 0 0 0px;
}

.infrastructure-types li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 20px 0 0 0;
}

.accomodation-filter {
	width: 288px;
	margin: 0;
	padding: 0;
	margin-right: auto;
	padding: 5px 0 0 10px;
}

.accomodation-filter legend {
	padding: 0px 0 0 3px;
}

.accommodation-types {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.accommodation-types li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 20px 0 0 5px;
	margin-right: auto;
}

.filters-form .infrastructure-types,
.filters-form .accommodation-types {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.infrastructure-types label,
.accommodation-types label {
	color: #ffffff;
	font-weight: 400;
	margin: 0 0 0px 39px;
}

.search-filters input[type="checkbox"]:checked+label::before {
	background: url(../img/checkbox-on.svg) no-repeat;
	width: 26px;
	border: none;
}

.filters-form input[type="checkbox"]:focus+label {
	outline: 1px solid #ffffff;
}

.infrastructure-filter label,
.accomodation-filter label {
	position: relative;
}

.infrastructure-filter label::before,
.accomodation-filter label::before {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	background: transparent;
	border: 2px solid #ffffff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	top: 0;
	left: -40px;
	border-radius: 15%;
}

.filters-form input[disabled]+label {
	cursor: default;
	opacity: 0.5;
}

.filter-range {
	margin: 0;
	padding: 0;
	width: 328px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.filter-range .filter-range-title {
	margin: 0;
	padding: 0;
	font: inherit;
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	line-height: 21px;
	text-transform: uppercase;
	margin-bottom: 2px;
	margin-left: 13px;
}

.price-controls {
	border: 2px solid #ffffff;
	border-radius: 2px;
	height: 36px;
	color: #ffffff;
	font-size: 0;
	margin-top: 9px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	margin-bottom: 22px;
	margin-left: 10px;
}

.price-controls label {
	font-size: 14px;
	line-height: 33px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls:before {
	content: "";
	position: absolute;
	width: 2px;
	height: 22px;
	background-color: #ffffff;
	top: 55%;
	left: 51%;
	-webkit-transform: translate(-51%, -54%);
	-ms-transform: translate(-51%, -54%);
	transform: translate(-51%, -54%);
}

.price-controls .min-price {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	text-align: center;
	width: 159px;
}

.price-controls .max-price {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	width: 151px;
	text-align: center;
}

.price-controls input[type="text"] {
	background: none;
	width: 55px;
	margin: 0;
	font-family: 'PT Sans', Arial, sans-serif;
	color: inherit;
	border: none;
	text-transform: uppercase;
	text-align: center;
	padding: 0px 0 0px 0;
	vertical-align: middle;
}

.range-controls {
	color: #ffffff;
	font-family: inherit;
	position: relative;
	margin-bottom: 31px;
	margin-left: 10px;
}

.scale {
	width: 317px;
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
	position: relative;
	z-index: 1;
}

.bar {
	position: relative;
	width: 80%;
	height: 2px;
	background-color: #ffffff;
	z-index: 2;
}

.range-toggle {
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
	position: absolute;
	top: -10px;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	z-index: 3;
}

.range-toggle:hover,
.range-toggle:focus {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}

.range-toggle-min {
	left: 2px;
}

.range-toggle-max {
	left: 80%;
}

.range-toggle:hover {
	background: #1c4f80;
}

.filter-range .sort-hotels-btn {
	color: #ffffff;
	font-family: inherit;
	font-weight: 400;
	line-height: 18px;
	display: block;
	text-transform: uppercase;
	background: transparent;
	font-size: 14px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
	width: 137px;
	height: 36px;
	margin: 0 auto;
}

.sort-hotels-btn:hover {
	background: #ffffff;
	color: #000000;
}

.search-results-item {
	border-bottom: 1px solid #e5e5e5;
	border-top: 1px solid #e5e5e5;
}

.sort {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 33px;
	padding: 29px 73px 0px 73px;
}

.sort-text-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 241px;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.sort-found {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	margin-right: 49px;
}

.sort-found .found-items {
	padding-left: 4px;
}

.sort-types {
	list-style: none;
	margin: 0;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.sort h3 {
	font-size: 12px;
	margin: 0;
	padding: 0;
	font-weight: 400;
	line-height: 18px;
	margin-right: 3px;
}

.sort-type .sort-type-link {
	opacity: 0.3;
	font-size: 12px;
	font-weight: 400;
	line-height: 16px;
	color: #000000;
}

.sort-type:hover .sort-type-link,
.sort-type:focus .sort-type-link {
	color: #81b3d2;
	opacity: 1;
}

.sort-type:nth-child(-n+3):hover,
.sort-type:nth-child(-n+3):focus {
	border-bottom: 1px dotted #81b3d2;
}

.sort-type:focus .sort-type-link {
	outline: 1px solid blue;
}

.sort-type:active {
	border-bottom: none;
}

.sort-type:active .sort-type-link {
	color: #000000;
	opacity: 1;
}

.sort-types .current-filter:hover {
	border-bottom: none;
}

.current-filter:active .sort-type-link {
	color: #81b3d2;
	opacity: 1;
}

.sort-type {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	border-bottom: 1px dotted #81b3d2;
}

.sort-type:nth-child(-n+3) {
	margin-left: 32px;
}

.sort-type:first-child {
	margin-left: 37px;
}

.current-filter {
	border-bottom: none;
}

.current-filter .sort-type-link {
	color: #81b3d2;
	opacity: 1;
}

.sort-increase,
.sort-decrease {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: none;
	margin-left: auto;
	padding-top: 7px;
}

.sort-decrease {
	margin-left: 12px;
}

.sort-increase .sort-rectangle,
.sort-decrease .sort-rectangle {
	width: 0;
	height: 0;
	border-left: 5.5px solid transparent;
	border-right: 5.5px solid transparent;
	border-bottom: 11px solid #cacaca;
}

.sort-decrease .sort-rectangle {
	border-top: 11px solid #cacaca;
	border-bottom: none;
}

.sort-type .sort-current-decrease {
	border-top: 11px solid #81b3d2;
}


/*class for JS*/

.sort-current-increase {
	border-bottom: 11px solid #231f20;
}

.sort-increase .sort-rectangle:hover,
.sort-increase .sort-rectangle:focus {
	border-bottom: 11px solid #231f20;
}

.sort-increase .sort-rectangle:active {
	border-bottom: 11px solid #81b3d2;
}

.sort-decrease .sort-rectangle:hover,
.sort-decrease .sort-rectangle:focus {
	border-top: 11px solid #231f20;
}

.sort-decrease .sort-rectangle:active {
	border-top: 11px solid #81b3d2;
}

.search-results-list {
	margin: 0;
	padding: 0;
	height: 100%;
}

.search-results-item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 30px 73px 29px 73px;
}

.item-description {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 528px;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.string-wrapper1 {
	margin: 6px 0 9px 0;
}

.search-results-item:nth-child(2) .price {
	margin-left: 60px;
}

.search-results-item:nth-child(2) .string-wrapper1 {
	margin: 6px 0 13px 0;
}

.search-results-item:nth-child(3) .string-wrapper1 {
	margin: 6px 0 13px 0;
}

.search-results-item:nth-child(3) .price {
	margin-left: 17px;
}

.item-info {
	margin: 0;
	padding: 0;
	margin-left: 30px;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.item-info b {
	color: #000000;
	font-size: 21px;
	font-weight: 700;
	display: block;
	margin: -6px 0px 0px 0px;
	letter-spacing: 0.1px;
}

.item-info span {
	color: #333333;
	font-size: 14px;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
}

.search-results-item:first-child .price {
	margin: 0;
	display: inline-block;
	vertical-align: text-bottom;
	margin-left: 34px;
}

.item-image {
	background-color: #497ca7;
	width: 135px;
	height: 90px;
}

.item-info-link {
	background-color: #81b3d2;
	color: #ffffff;
	font-weight: 700;
	padding: 4px 17px;
}

.item-info-link span {
	color: inherit;
	font: inherit;
	font-weight: 700;
}

.item-info-link:hover,
.item-info-link:focus {
	background-color: #669ec0;
}

.item-info-link:active {
	background-color: #5496bd;
}

.booking-button {
	border: none;
	background-color: #766357;
	color: #ffffff;
	font: inherit;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0px 18px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}

.booking-button span {
	color: #ffffff;
	font: inherit;
	font-weight: 700;
}

.booking-button:hover,
.booking-button:focus {
	background-color: #604e43;
}

.booking-button:active {
	background-color: #503e33;
}

.booking-button:active span,
.item-info-link:active span {
	opacity: 0.3;
}

.item-feedback .mark {
	background-color: #f2f2f2;
	display: block;
	padding: 0px 12px 1px 15px;
}

.item-feedback {
	margin: 0;
	padding: 0;
	width: 328px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-left: auto;
}

.inner-footer {
	background-color: #ffffff;
	margin-top: 0;
}

.search-results-item .star {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.search-results-item .star {
	background-image: url(../img/star.svg);
	background-repeat: space;
	width: 18px;
	height: 18px;
}

.search-results-item:first-child .star {
	width: 88px;
}

.search-results-item:nth-child(2) .star {
	width: 63px;
}

.search-results-item:last-child .star {
	width: 40px;
}

.inner-footer {
	background-color: #ffffff;
	margin-top: 0px;
	padding-top: 36px;
}

.footer-logo {
	overflow: hidden;
}